
.row{
    display: flex;
}
.column-2{
width: 100%;
font-size: 25px;
}
.column-4{
width: 50%;
}
.column-5 {
width: 50%;
}
.estilos{
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
